~$*
x86/
x64/
rcf/
publish/
project.lock.json
project.fragment.lock.json
paket-files/
orleans.codegen.cs
nunit-*.xml
node_modules/
nCrunchTemp_*
mono_crash.*
ipch/
healthchecksdb
ecf/
dlldata.c
csx/
coverage*.xml
coverage*.json
coverage*.info
bld/
artifacts/
_pkginfo.txt
__pycache__/
_UpgradeReport_Files/
_TeamCity*
_ReSharper*/
_Pvt_Extensions
_NCrunch_*
_Chutzpah*
[Ww][Ii][Nn]32/
[Tt]est[Rr]esult*/
[Rr]eleases/
[Rr]eleasePS/
[Rr]elease/
[Oo]ut/
[Oo]bj/
[Ll]ogs/
[Ll]og/
[Ee]xpress/
[Dd]ebugPublic/
[Dd]ebugPS/
[Dd]ebug/
[Bb]uild[Ll]og.*
[Bb]in/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]/
UpgradeLog*.htm
UpgradeLog*.XML
TestResult.xml
StyleCopReport.xml
ServiceFabricBackup/
ScaffoldingReadMe.txt
PublishScripts/
Package.StoreAssociation.xml
OpenCover/
MigrationBackup/
Generated_Code/
Generated\ Files/
FodyWeavers.xsd
FakesAssemblies/
DocProject/buildhelp/
DocProject/Help/html
DocProject/Help/Html2
DocProject/Help/*.hhp
DocProject/Help/*.hhk
DocProject/Help/*.hhc
DocProject/Help/*.HxT
DocProject/Help/*.HxC
ClientBin/
BundleArtifacts/
BenchmarkDotNet.Artifacts/
Backup*/
AutoTest.Net/
AppPackages/
ASALocalRun/
.vs/
.sass-cache/
.paket/paket.exe
.ntvs_analysis.dat
.mfractor/
.localhistory/
.ionide/
.fake/
.cr/personal
.builds
.axoCover/*
.*crunch*.local.xml
*~
*_wpftmp.csproj
*_p.c
*_i.c
*_h.h
*.xsd.cs
*.vssscc
*.vspx
*.vspscc
*.vsp
*.vbw
*.userprefs
*.userosscache
*.user
*.tss
*.tmp_proj
*.tmp
*.tli
*.tlh
*.tlb
*.svclog
*.suo
*.snupkg
*.sln.docstates
*.sdf
*.scc
*.sbr
*.sap
*.rsuser
*.rsp
*.rptproj.rsuser
*.rptproj.bak
*.rdl.data
*.pyc
*.pubxml
*.publishsettings
*.publishproj
*.psess
*.plg
*.pidb
*.pgd
*.pgc
*.pfx
*.pdb
*.pch
*.opt
*.opensdf
*.opendb
*.odx.cs
*.obj
*.nvuser
*.nupkg
*.nuget.targets
*.nuget.props
*.ndf
*.ncb
*.mm.*
*.meta
*.mdf
*.log
*.ldf
*.jmconfig
*.jfm
*.ipdb
*.iobj
*.ilk
*.gpState
*.e2e
*.dotCover
*.dbproj.schemaview
*.dbmdl
*.coveragexml
*.coverage
*.cachefile
*.build.csdef
*.btp.cs
*.btm.cs
*.binlog
*.bim_*.settings
*.bim.layout
*.azurePubxml
*.aps
*.appxupload
*.appxbundle
*.appx
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*.[Cc]ache
*.VisualState.xml
*.VC.db
*.VC.VC.opendb
*.GhostDoc.xml
*.DotSettings.user
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup ([0-9]).rdl
**/[Pp]ackages/*
**/*.Server/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.DesktopClient/GeneratedArtifacts
$tf/
!?*.[Cc]ache/
!.axoCover/settings.json
!**/[Pp]ackages/build/
/SavedModels/*
/Tests